@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    
    color: white;
}

body {
    background-color: rgb(32, 24, 24);
    color: white;
    background-image: url(../SOURCES/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


.navbar {
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    top: 0px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(43, 12, 196);
    background-color: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
    padding: 16px;
    transition: all 0.5s ease;
}


.navbar.active {
    background-color: rgba(43, 43, 43, 0.507);
    padding: 15px;
}

.nav-list {
    margin-left: 800px;
    display: flex;
}

.nav-list a {
    text-decoration: none;
    font-size: 17px;
    padding: 20px;
    padding-bottom: 2px;
    position: relative;
}

.nav-list a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(43, 12, 196);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav-list a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.content {
    margin-top: 10px;
    display: flex;
    width: 100%;
    
}

.text-var {
    margin: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 100px !important;
    z-index:-1;
   
}

.text-var h1 {
    font-size: 88px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    word-spacing: 7px;
    margin-bottom: 20px;
    margin-top: 140px;
    margin-left: 60px;
    border-bottom: 1px solid rgb(43, 12, 196);
}


.text-var h2 {
    font-size: 25px;
    opacity: .8;
    font-weight: 400;
  
    text-align: center;
}
.text-var h4 {
    font-size: 40px;
    margin-left: -30px;
    margin-top: 20px;
}
.img-diego {
    width: 30%;
    margin: 0;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 1em 1em;
    padding: 10px;
    padding-bottom: 15px;
    z-index:-1;
    
}

.img-diego img {
    border-radius: 100px;
    height: 500px;
    z-index:-1;

}

main {
    background-image: url(../SOURCES/bg.png);
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: -89px;   
    background-size: 80% 110%;
    
} 

.info {
   display: flex;
   max-width: 1300px;
   margin-top: 30px;
   margin-top: 100px !important;
   scroll-margin-top: 45px;
   
}

.personal-skills {
    width: 40%;
    text-align: left;
    margin: 20px;
    padding: 20px;
    margin-left: 100px;
    
    
}

.personal-skills h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    z-index:-1;

}

.personal-skills p {
    font-size: 35px;
    padding: 10px;
    padding-bottom: 30px !important;
    font-weight: bold;
    z-index:-1;

    
}

.personal-skills img {
    margin-top: 250px;
    z-index:-1;

    
}

.skills-programs {
    width: 100%;
    margin: 10px;
    margin-left: 10px;
    z-index: -1;
    margin-top: 50px;    
}
.skills-programs h1 {
    margin-top: 30px;
    font-size: 30px;
    opacity: .7;
    text-align: center;
    z-index:-1;
    font-weight: 300;

}

.skills-programs h2 {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
}

.text-center{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index:-1;

}

.p-23 {
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 45px;
}

.border-blue-t {
    border-bottom: solid 2px rgb(43, 12, 196);
    margin-bottom: 0;
}

.skills-ve {
    margin: 20px;
    justify-content: center;
    padding: 10px;
    z-index:-1;

  
}

.skills-ve h1 {
    font-size: 35px;
    margin-top: 10px;
    z-index:-1;


}

.skills-ve p {
    margin-top: 10px;
    margin-bottom: 10px;
    z-index:-1;
    text-transform: uppercase;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(0, 0, 0);
 
}

body::-webkit-scrollbar-thumb {
    background: rgb(43, 12, 196);
    border-radius: 25px;   
    transition: all 0.4s;
    border: solid 1px rgb(255, 255, 255);
}

.info {
    margin: 0 auto;
    max-width: 1200px;
    z-index:-1;

    
}


.footer {
    margin-top: 10px;
    padding: 40px;
    color: white;
    font-size: 15px;
    text-align: center;
    background-color: #00000096;
    z-index:-1;

}

.c-blue {
    color: rgb(43, 12, 196);
}

@media (max-width: 1200px) {
    .enlaces {
        margin-left: 750px;
    }

    .text-var h1 {
        font-size: 75px;
        margin-left: 50px;
    }

    .img-diego {
        margin-left: 100px;
        margin-right: 120px;
    }

    .info {
        max-width: 1000px;
        border-radius: 25px;
    }

    .ft p {
        font-size: 20px !important;
        margin-left: 0px;
    }

    .personal-skills {
        height: 50%;
        margin-left: 0;
        display: none;
    }

   .personal-skills h1{
    font-size: 34px;
   }

   .personal-skills p {
    font-size: 25px;
   }

   .skills-programs h1 {
    font-size: 34px;
    border: 0px !important;
   }

   .skills-programs p {
    font-size: 25px;
   }

   .personal-skills img {
    margin-top: 26.9em;
    margin-right: 10px;
   }

   .skills-programs {
    width: 100%;
    margin-left: 0;
   }

   .skills-ve {
    width: 100%;
    margin-left: 10px;
   }


}

@media (max-width: 1156px) {

    .nav-list {
        margin-left: 700px;
    }

    .text-var h1 {
        font-size: 70px;
    }
}

@media (max-width: 1107px) {
    .nav-list {
        margin-left: 0px;
        text-align: left;
        padding-inline: 50px;
        font-size: 25px;
    }

    .text-var {
        margin-left: 1px;
    }
    .text-var h1{
        font-size: 60px;
        padding-inline: 10px;
        text-align: center;
    }

    .text-var h2 {
        font-size: 20px;
    }

    .img-diego {
        margin-right: 20px;
    }
}

@media (max-width: 1107px) {
    .info {
        max-width: 900px;
    }
}

@media (max-width: 968px) {
    .text-var h1 {
        font-size: 50px;
    }

    .text-var h2 {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 945px) {

    .nav-list {
        margin-left: 200px;
        
    }
    .content{
        flex-direction: column;
    }
    .img-diego {
        width: 50%;
        height: 50%;
        padding: 20px;
        margin-left: 0px;
        margin-bottom: 0;
      
        align-self: center;
    }
    .img-diego img {
        width: 100%;
        height: 85%;
       
        margin-bottom: 0;
        border-radius: 20%;
    }

    .text-var {
        text-align: center;
        align-self: center;
        margin-top: 0;
        margin-left: 40px;
    }

    .text-var h1 {
        margin: 10px;
        font-size: 40px;
        width: 100%;
    }

    .info {
        width: 700px;
    }
    .skills-programs {
        padding: 10px;
    }
}

@media (max-width: 880px) {
    .nav-list {
        margin-left: 180px;
        
    }
}

@media (max-width: 794px) {
    .nav-list {
        margin-left: 120px;
        
    }
}

@media (max-width: 722px) {
    .nav-list {
        margin-left: 100px;
        
    }

    .info {
        width: 500px;
    }
}

@media (max-width: 629px) {
    .nav-list {
        margin-left: 50px;
        
    }
}

@media (max-width: 574px) {

    .nav {
         flex-direction: column;
    }
    .nav-list {
        margin-left: 0;
        
       
    }
}
@media (max-width: 517px) {
    
    .text-var h2 {
        font-size: 18px;
    }

    .info {
        width: 400px;
    }

    .skills-programs h1 {
        font-size: 25px;
    }

    .skills-programs p {
        font-size: 20px;
    }
}

@media (max-width: 512px) {
    .navbar {
        padding: 5px;
    }

    .navbar.active {
        padding: 5px;
    }

    .text-var h1 {
        font-size: 30px;
    }

    .img-diego {
        margin-top: 130px;
    }
}

@media (max-width: 466px) {
    .navbar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding:5px; 
       
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
       ;
    }

    .img-diego {
        margin-top: 750px;
    }
}

@media (max-width: 405px) {

    .info {
        width: 380px;
    }

    .text-var h2 {
        font-size: 15px;
        margin-left: 20px;
    }

    .text-var h1 {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
        
    }

    .text-var {
        margin-left: 30px;
    }
    .content {
        margin-left: 10px;
    }
}


@media (max-width: 405px) {

    .info {
        width: 300px;
    }
}